# # Change port if already in use
# PORT = 3000

# # Your MongoDB url here
# DB =

# # Enter your cloudinary details here
# CLOUDINARY_NAME = 
# CLOUDINARY_API_KEY =
# CLOUDINARY_API_SECRET =

# # SMTP configuration for email notifications
# SMTP_HOST =
# SMTP_PORT = 587
# SMTP_SECURE = false
# SMTP_USER =
# SMTP_PASS =
# SMTP_FROM =
